
post_get_test/views.py
post_get_test/tests.py
post_get_test/models.py
post_get_test/urls.py
post_get_test/migrations/__init__.py
post_get_test/apps.py
post_get_test/admin.py
post_get_test/__pycache__/views.cpython-38.pyc
post_get_test/__pycache__/urls.cpython-38.pyc
post_get_test/__pycache__/__init__.cpython-38.pyc
post_get_test/__init__.py
db.sqlite3
*.pyc
*.pyc
*.yml
.idea/encodings.xml
.idea/workspace.xml
**/migrations
**/.idea
