version: '3.7'

services:
  web:
    build: .
    command: >
      sh -c "
             python manage.py makemigrations &&
             python manage.py makemigrations account backup &&
             python manage.py migrate &&
             gunicorn -b 0.0.0.0:8000 -w 4 flatmapp_server.wsgi"
    ports:
      - 8000:8000